
html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Noto Sans, Arial;
	font-size: 14px;
	background: url(../images/wall.png);
}

/* Classes */

#element_groups {
	width: 94%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

	#element_groups > li {
		float: left;
		width: 50%;
		margin-bottom: 35px;
	}

		#element_groups section {
			margin: 0 18px 30px 20px;
			background: #fff;
			border: 1px solid;
			border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
			border-radius: 6px;
			box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25);
		}

		section > *:last-child {
			margin-bottom: 15px;
		}

		section > header {
			padding: 3px 8px 5px;
			color: #fff;
			background: #eee;
			font-weight: bold;
			font-size: 165%;
			text-shadow: 0 1px 1px rgba(0,0,0,0.4);
			border-radius: 5px 5px 0 0;
		}

		section > x-ribbon {
			margin-bottom: 18px;
			margin-left: -8px;
			padding: 2px 8px;
			border: 1px solid;
			border-color: #444 #555;
			border-width: 0 1px 1px 0;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
			-webkit-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.75);
			-ms-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.75);
			box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.75);
		}

			section > x-ribbon:after {
				border-left-width: 7px;
				border-top-width: 6px;
			}

		section > div {
			margin: 0 14px 10px;
			clear: both;
		}

			section > div:before {
				clear: both;
				content: " ";
				display: block;
				overflow: hidden;
			}

			section > div > *:first-child {
				margin-top: 0;
			}

			section > div > h5 {
				color: #444;
			}

		menu.centered-buttons {
			margin: 16px auto 0;
		}


/* Elements */

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	background: rgba(0,0,0, 0.65);
	border-bottom: 1px solid rgba(0,0,0, 0.8);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	z-index: 100;
}

#nav_logo {
	margin: 5px 0 2px;
    color: #F3F3F3;
    font-family: 'Righteous';
    font-size: 28px;
	font-weight: normal;
	line-height: 29px;
	text-align: center;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
}

	#nav_logo div, #nav_logo span {
		display: inline-block;
	}

	#nav_logo div {
		position: relative;
		top: -3px;
		font-size: 29px;
		margin: 0 -6px;
	}

	#nav_logo div span {
		font-weight: bold;

	}
	#nav_logo div span span {
		font-size: 23px;
	}

#tagline {
	margin: 0;
	padding: 75px 0 35px;
	color: rgba(10, 10, 10, 0.3);
    text-align: center;
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #bbb;
	opacity: 0.5;
}



/* Text & Font */

#text_styles header {
	background: CornflowerBlue;
}

/* Indicator Elements */

#indicator_elements header {
	background: plum;
}

#spinner_demo {
	text-align: center;
}

#spinner {
	margin: 0 auto;
}

	#spinner b {
		font-size: 0.15em;
	}

/* Form Elements */

#form_elements header {
	background: mediumseagreen;
}

#form_elements div > button {
	margin: 0 4px 6px 0;
}

#form_elements input[type="text"] {
	margin: 0 0 12px;
}

#form_elements x-toggle[group="checks-1"] {
	display: block;
}


/* Structural */

#structural_elements > header {
	background: darkorange;
}

#flipbox, #shiftbox {
	height: 240px;
	width: 325px;
	margin: 0 auto;
}

#flipbox > * {
	border: solid 3px #ddd;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#flipbox > *:last-child {
	padding: 15px;
}

#leaflet-map {
	width: 100%;
	height: 240px;
}

#shiftbox {
	border: solid 3px #ddd;
}

#shiftbox section {
	border-radius: 0;
}
#shiftbox aside {
	overflow: scroll;
	width: 210px;
	padding: 0px;
	background-color: rgb(65, 65, 65);
	color: rgb(255, 255, 255);
	height: 100%;
}

#shiftbox aside header {
	padding: 5px;
	background-color: orange;
}

#shiftbox ul {
	padding: 0px;
}

#shiftbox ul li{
	list-style: none;
}

#shiftbox aside ul li {
	padding: 3px;
	border-bottom: solid 1px #666;
	cursor: pointer;
}

#shiftbox section {
	list-style: none;
}

#shiftbox[open] section {
	margin-left: -129px;
}

x-appbar {
	font: 1.5rem/2.4rem "MozTT",Sans-serif;
	color: rgb(255, 255, 255);
	background-color: orange;
}

x-appbar > div {
  cursor: pointer;
}

x-appbar > *:before {
  top: 3px;
  bottom: 3px;
}

x-modal {
	background-color: white;
	border-radius: 8px;
	margin: 0 18px 30px 20px;
	background: #fff;
	border: 1px solid;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
	border-radius: 6px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25);
	padding-bottom: 10px;
}

x-modal header {
	padding: 3px 8px 5px;
	color: #fff;
	background: #eee;
	font-weight: bold;
	font-size: 165%;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	border-radius: 5px 5px 0 0;
}

@media all and (max-width: 675px) {

	#element_groups > li {
		float: none;
		width: auto;
		margin: 0 0 35px !important;
	}

}

